/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  margin: 0;
  font: Arial;
  border: border-box;
}

li {
  list-style: none;
}

.container {
  margin: auto;
  width: 100%;
}

header {
  width: 100%;
  height: 600px;
  background-image: url(assets/bg.png);
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.heroText {
  margin-bottom: 120px;
  text-align: center;
  width: 80%;
}

.heroText h1 {
  font-size: 6vmin;
  color: beige;
}

.line {
  width: 40%;
  height: 4px;
  background: #fc036b;
  margin: 30px auto;
  border-radius: 5px;
}

.heroText h3 {
  font-size: 3vmin;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: whitesmoke;
}

.btn {
  padding: 8px 15px;
  background: #fc036b;
  border-radius: 30px;
  color: whitesmoke;
}

.btn:hover {
  color: black;
  background: beige;
}

.featureSection {
  background: linear-gradient(45deg, blueviolet, lightgreen);
  padding: 15px 8%;
  padding-bottom: 10px;
}

.featureSection .heading {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding-top: 15px;
}

.featureSection .line {
  width: 15%;
  height: 4px;
  background: #fc036b;
  border-radius: 5px;
}

.featureBox {
  padding: 15px 0px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureBox .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 35px;
}

.featureBox .box-container .box-containeri {
  border-radius: 12px;
  background-color: #fff;
  text-align: center;
  padding: 30px 20px;
}

.featureBox .box-container .box-containeri img:hover {
  transform: scale(1.3);
}

.featureBox .box-container .box-containeri img {
  height: 100px;
}

.featureBox .box-container .box-containeri h3 {
  color: #444;
  font-size: 22px;
  padding: 10px;
}

.featureBox .box-container .box-containeri p {
  color: black;
  font-size: 15px;
  line-height: 1.9;
}

.featureBox .box-container .box-containeri .btn {
  margin-top: 10px;
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 21px;
  border-radius: 8px;
  padding: 12px;
  text-decoration: none;
}

.featureBox .box-container .box-containeri .btn:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
  color: black;
  background-color: beige;
}

.testiContainer{
  --card-clr: #161922;
	--body-clr: #191d28;
	--primary-clr: #f0bf6a;
	--heading-clr: #dadada;
	--text-clr: #767a86;

  width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--body-clr);
}

.testimonials-section{
	width: 100%;
}
.testimonials-section .section-header{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}
.section-header h1{
	position: relative;
	font-size: 36px;
	color: var(--primary-clr);
}
.testimonials-container{
	position: relative;
}
.testimonials-container .testimonial-card{
	padding: 20px;
}
.testimonial-card .test-card-body{
	background-color: var(--card-clr);
	box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
	padding: 20px;
}
.test-card-body .quote{
	display: flex;
	align-items: center;
}
.test-card-body .quote i{
	font-size: 45px;
	color: var(--heading-clr);
	margin-right: 20px;
}
.test-card-body .quote h2{
	color: var(--heading-clr);
}
.test-card-body p{
	margin: 10px 0px 15px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text-clr);
}
.test-card-body .ratings{
	margin-top: 20px;
}
.test-card-body .ratings i{
	font-size: 17px;
	color: var(--primary-clr);
	cursor: pointer;
}
.testimonial-card .profile{
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-clr);
}
.profile-desc span:nth-child(2){
	font-size: 15px;
	color: var(--text-clr);
}
.owl-nav{
	position: absolute;
	right: 20px;
	bottom: -10px;
}
.owl-nav button{
	border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i{
	padding: 10px !important;
	border-radius: 50%;
	font-size: 18px !important;
	background-color: var(--card-clr) !important;
	color: var(--primary-clr);
	cursor: pointer;
	transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
	background-color: var(--primary-clr) !important;
	color: #e9e9e9;
}
.owl-dots{
	margin-top: 15px;
}
.owl-dots .owl-dot span{
	background-color: #434753 !important;
	padding: 6px !important;
}
.owl-dot.active span{
	background-color: var(--primary-clr) !important;
}

