footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 60px 0 30px;
    font-size: 13px;
    line-height: 20px;
  }
  
  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .col1 {
    flex-basis: 25%;
  }
  
  .col2,
  .col3 {
    flex-basis: 15%;
  }
  
  .col1 h2 {
    margin-bottom: 40px;
  }
  
  .col2 h3,
  .col3 h3,
  .col4 h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  
  .emailId {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .col3 li {
    list-style: none;
    margin-bottom: 12px;
  }
  
  .col3 li a {
    text-decoration: none;
    color: #fff;
  }
  
  form {
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  
  form .far {
    font-size: 18px;
    margin-right: 10px;
  }
  
  form input {
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
  }
  
  form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  
  form button .fas {
    font-size: 16px;
    color: #ccc;
  }
  
  .socialIcons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
  }
  
  hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
  }
  
  .copyright {
    text-align: center;
  }
  
  .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
  }
  
  .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  }
  
  @keyframes moving {
    0% {
      left: -20px;
    }
    100% {
      left: 100%;
    }
  }
  
  @media (max-width: 768px) {
    footer {
      bottom: unset;
    }
  
    .row {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    .col1 {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  
    .col2,
    .col3 {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  
    .col2 h3,
    .col3 h3,
    .col4 h3 {
      display: inline-flex;
    }
  
    .emailId {
      display: inline-flex;
    }
  }
  