<footer>
    <div class="row">
      <div class="col1">
        <!-- <img src="assets/Website Logo White.png" class="logo"> -->
        <h2>Loksewa Study Hub</h2>
        <p>
          Your ultimate study hub with resources, tips, and inspiration for
          effective learning. Study smarter, achieve more, and reach your
          goals.
        </p>
      </div>
      <div class="col2">
        <h3>
          Office
          <div class="underline"><span></span></div>
        </h3>
        <p>Developer Road</p>
        <p>Whitefield, Pokhariya</p>
        <p>Biratnagar, PIN 56613, Nepal</p>
        <p class="emailId">loksewastudyhub14@gmail.com</p>
        <h4>+977 9862512245</h4>
      </div>
      <div class="col3">
        <h3>
          Links
          <div class="underline"><span></span></div>
        </h3>
        <li><a href="">Home</a></li>
        <li><a href="">Study</a></li>
        <li><a href="">News and Notice</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Account</a></li>
      </div>
      <div class="col4">
        <h3>
          NewsLetter
          <div class="underline"><span></span></div>
        </h3>
        <form>
          <i class="far fa-envelope"></i>
          <input type="email" placeholder="Enter your Email ID" required />
          <button type="button"><i class="fas fa-arrow-right"></i></button>
        </form>
        <div class="socialIcons">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-whatsapp"></i>
        </div>
      </div>
    </div>
    <hr />
    <p class="copyright">Loksewa Study Hub © 2024 - All Rights Reserved</p>
  </footer>