<footer id="websiteFooter">
    <div class="row">
      <div class="col1">
        <!-- <img src="assets/Website Logo White.png" class="logo"> -->
        <h2 data-en="Loksewa Study Hub" data-ne="लोकसेवा  स्टडी हब  ">Loksewa Study Hub</h2>
        <p data-en="Your ultimate study hub with resources, tips, and inspiration for effective learning. Study smarter, achieve more, and reach your goals." data-ne="प्रभावकारी सिकाइका लागि स्रोतहरू, सुझावहरू, र प्रेरणाको साथ तपाईंको अन्तिम अध्ययन हब। स्मार्ट अध्ययन गर्नुहोस्, धेरै हासिल गर्नुहोस्, र आफ्नो लक्ष्यहरू प्राप्त गर्नुहोस्।">
          Your ultimate study hub with resources, tips, and inspiration for
          effective learning. Study smarter, achieve more, and reach your
          goals.
        </p>
      </div>
      <div class="col2">
        <h3 data-en="Office" data-ne="कार्यालय">
          Office
          <div class="underline"><span></span></div>
        </h3>
        <p data-en="Developer Road" data-ne="डेभलपर रोड">Developer Road</p>
        <p data-en="Whitefield, Pokhariya" data-ne="व्हाइटफिल्ड, पोखरिया">Whitefield, Pokhariya</p>
        <p data-en="Biratnagar, PIN 56613, Nepal" data-ne="विराटनगर, पिन ५६६१३, नेपाल">Biratnagar, PIN 56613, Nepal</p>
        <p class="emailId"class="emailId" data-en="loksewastudyhub14@gmail.com" data-ne=""loksewastudyhub14@gmail.com">loksewastudyhub14@gmail.com</p>
        <h4 data-en="+977 9862512245" data-ne="+९७७ ९८६२५१२२४५">+977 9862512245</h4>
      </div>
      <div class="col3">
        <h3 data-en="Links" data-ne="लिङ्कहरू">
          Links
          <div class="underline"><span></span></div>
        </h3>
        <li><a href="../" data-en="Home" data-ne="होम">Home</a></li>
        <li><a href="" data-en="Study" data-ne="अध्ययन">Study</a></li>
        <li><a href="" data-en="News and Notice" data-ne="समाचार र सूचना">News and Notice</a></li>
        <li><a href="../pages/about.html"data-en="About Us" data-ne="हाम्रोबारे">About Us</a></li>
        <li><a href="../pages/contact.html"data-en="Contact" data-ne="सम्पर्क">Contact</a></li>
        <li><a href="../pages/account.html"data-en="Account" data-ne="खाता">Account</a></li>
      </div>
      <div class="col4">
        <h3  data-en="Newsletter" data-ne="समाचारपत्र">
          NewsLetter
          <div class="underline"><span></span></div>
        </h3>
        <form>
          <i class="far fa-envelope"></i>
          <input type="email" placeholder="Enter your Email ID" required data-en="Enter your Email ID" data-ne="आफ्नो इमेल आईडी प्रविष्ट गर्नुहोस्" />
          <button type="button"><i class="fas fa-arrow-right"></i></button>
        </form>
        <div class="socialIcons">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-whatsapp"></i>
        </div>
      </div>
    </div>
    <hr />
    <p class="copyright"data-en="Loksewa Study Hub © 2024 - All Rights Reserved" data-ne="लोकसेवा अध्ययन हब © २०२४ - सबै अधिकार सुरक्षित">Loksewa Study Hub © 2024 - All Rights Reserved</p>
  </footer>