<div class="langSwitch">
    <h3 data-en="Choose your Language" data-ne="भाषा छनौट गर्नुहोस">Choose your language:</h3>
    <div class="language-switch">
      <input type="checkbox" id="language-toggle" class="language-checkbox">
      <label for="language-toggle" class="language-label">
          <div class="toggleLang">
              <span class="flag english-flag"></span>
              <span class="flag nepali-flag"></span>
          </div>
      </label>
      <script src="../languageToggle.js" defer></script>
  </div>
  <h3 data-en="English" data-ne="नेपाली">English</h3>