<div class="logoSection">
    <div class="image1">
      <a href="#"><img src="../assets/Website Logo White.png" /></a>
    </div>
    <div class="logoDesc">
      <h2 class="logoTitle">Loksewa Study and News</h2>
      <p class="logoDesc">
        We provide genuine news and notices about the Loksewa with Model
        Questions and practice sets.
      </p>
      <p class="tab">Genuine News and Notices of Loksewa Nepal!</p>
      <p class="mob">Genuine News and Notices!</p>
      <p class="logoLink">Connect With Us:</p>
      <p class="links">
        <a href="https://www.facebook.com" class="facecookIcon"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="mailto:suchanachapagain@gmail.com"
          ><i class="fa-solid fa-message"></i
        ></a>
        <a href="tel:+9779862299373"><i class="fa-solid fa-phone"></i></a>
      </p>
    </div>
    <div class="image2">
      <img src="../assets/nepal_flag.gif" />
    </div>
  </div>
  <nav class="navbar">
    <div class="logo">Loksewa Study and News</div>
    <ul class="nav-links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/study.html">Study</a></li>
        <li><a href="../pages/news.html"> News and Notice</a></li>
        <li><a href="../pages/about.html"></i> About Us</a></li>
        <li><a href="../pages/contact.html">Contact</a></li>
        <li id="acc"><a href="../pages/account.html">Account <i class="fa fa-user"></i></a></li>  
    </ul>
    <div class="search_box">
      <input type="search" placeholder="Search Here" />
      <span class="fa fa-search"></span>
    </div>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <script src="../script.js"></script>
    <script src="../activeScript.js"></script>
  </nav>