<div class="logoSection">
    <div class="image1">
      <a href="../"><img src="../assets/Website Logo White.png" /></a>
    </div>
    <div class="logoDesc">
      <h2 class="logoTitle" data-en="Loksewa Study and News" data-ne="लोकसेवा अध्ययन र समाचार">Loksewa Study and News</h2>
      <p class="logoDesc" data-en="We provide genuine news and notices about the Loksewa with Model Questions and practice sets."
      data-ne="हामी लोकसेवाका बारेमा वास्तविक समाचार र सूचनाहरू प्रदान गर्दछौं, मोडेल प्रश्नहरू र अभ्यास सेटहरू सहित।">
        We provide genuine news and notices about the Loksewa with Model
        Questions and practice sets.
      </p>
      <p class="tab" data-en="Genuine News and Notices of Loksewa Nepal!" data-ne="लोकसेवा नेपालका वास्तविक समाचार र सूचनाहरू!">Genuine News and Notices of Loksewa Nepal!</p>
      <p class="mob" data-en="Genuine News and Notices!" data-ne="वास्तविक समाचार र सूचनाहरू!">Genuine News and Notices!</p>
      <p class="logoLink" data-en="Connect With Us:" data-ne="हामीसँग जोडिनुहोस्:">Connect With Us:</p>
      <p class="links">
        <a href="https://www.facebook.com" class="facecookIcon"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="mailto:loksewastudyhub14@gmail.com"
          ><i class="fa-solid fa-message"></i
        ></a>
        <a href="tel:+9779862512245"><i class="fa-solid fa-phone"></i></a>
      </p>
    </div>
    <div class="image2">
      <img src="../assets/nepal_flag.gif" />
    </div>
  </div>
  <nav class="navbar">
    <div class="logo"><a href="../" data-en="Loksewa Study and News" data-ne="लोकसेवा अध्ययन र समाचार">Loksewa Study and News</a></div>
    <ul class="nav-links">
        <li><a href="../" data-en="Home" data-ne="गृहपृष्ठ">Home</a></li>
        <li>
          <a href="#" data-en="Resources ▼" data-ne="अध्ययन ▼">Resources ▼</a>
          <ul>
            <li><a href="../Study/compoptstd.html" data-en="Computer Operator" data-ne="कम्प्युटर अपरेटर">Computer Operator</a></li>
            <li><a href="../pages/test.html" data-en="Nayab Subba" data-ne="नायब सुब्बा">Nayab Subba</a></li>
            <li><a href="../pages/test.html" data-en="Kharidar" data-ne="खरिदार">Kharidar</a></li>
            <li><a href="../pages/test.html" data-en="Adhikrit" data-ne="अधिकृत">Adhikrit</a></li>
            <li>
              <a href="#" data-en="Teacher Service" data-ne="शिक्षक सेवा">Teacher Service</a>
            </li>
          </ul>
        </li>
        <li><a href="../pages/notices.html" data-en="News & Notice" data-ne="समाचार र सूचना"> News & Notice</a></li>
        <li>
          <a href="#" data-en="Practice ▼" data-ne="तयारी ▼">Practice ▼</a>
          <ul>
            <li><a href="../Practice/compopt.html">Computer Operator</a></li>
            <li><a href="../Practice/nasu.html" data-en="Nayab Subba" data-ne="नायब सुब्बा">Nayab Subba</a></li>
            <li><a href="../Practice/khar.html" data-en="Kharidar" data-ne="खरिदार">Kharidar</a></li>
            <li><a href="../Practice/adhi.html" data-en="Adhikrit" data-ne="अधिकृत">Adhikrit</a></li>
            <li>
              <a href="#" data-en="Teacher Service" data-ne="शिक्षक सेवा">Teacher Service</a>
            </li>
          </ul>
        </li>

        <li><a href="../pages/about.html" data-en="About Us" data-ne="हाम्रोबारे"> About Us</a></li>
        <li><a href="../pages/contact.html" data-en="Contact" data-ne="सम्पर्क">Contact</a></li>
        <li id="acc"><a href="../pages/account.html"><span data-en="Account" data-ne="खाता">Account</span><i class="fa fa-user"></i></a></li>  
    </ul>
    <div class="search_box">
      <input type="search" placeholder="Search Here" id="placeHolder" data-en-placeholder="Search Here" data-ne-placeholder="यहाँ खोज्नुहोस्" />
      <span class="fa fa-search"></span>
    </div>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <script src="../script.js"></script>
    <script src="../activeScript.js"></script>
  </nav>
  </div>
