
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.logoSection {
  height: 130px !important;
  box-sizing: content-box !important;
}

@media screen and (max-width: 1280px) {
  .logoSection {
    height: 130px !important;
  }

  .nav-links {
    width: 100% !important;
    z-index: 999 !important;
  }
}

@media screen and (max-width: 480px) {
  .logoSection {
    height: 80px !important;
  }

  .nav-links {
    width: 100% !important;
    z-index: 999 !important;
  }
}
.container {
  box-sizing: border-box !important;
  padding-top: 50px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070f4;
  column-gap: 30px;
}
.form {
  margin: auto;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #fff;
}
.form.signup {
    margin-top: -630px;
  opacity: 0;
  pointer-events: none;
}
.forms.show-signup .form.signup {
  opacity: 1;
  pointer-events: auto;
}
.forms.show-signup .form.login {
  opacity: 0;
  pointer-events: none;
}
header {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}
form {
  margin-top: 30px;
}
.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input {
  color: #000;
  outline: none;
  padding: 0 15px;
  border: 1px solid#CACACA;
}
.field input:focus {
  border-bottom-width: 2px;
}
.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}
.field button {
  color: #fff;
  background-color: #0171d3;
  transition: all 0.3s ease;
  cursor: pointer;
}
.field button:hover {
  background-color: #016dcb;
}
.form-link {
  text-align: center;
  margin-top: 10px;
}
.form-link span,
.form-link button {
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}
.form a {
  color: #0171d3;
  text-decoration: none;
}
.form-content a:hover {
  text-decoration: underline;
}
.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}
.line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 15px;
}
.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.github {
  color: #fff;
  background-color: #4267b2;
}
a.github .github-icon {
  height: 28px;
  width: 28px;
  color: #0171d3;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.github-icon,
img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
a.google {
  border: 1px solid #cacaca;
}
a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}

#welcomeUser {
  display: none;
  margin: 30px;
  padding: 10px;
}

#welcomeUser > h1{
    text-align: center;
    padding: 10px;
}

#welcomeUser > h2{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

#welcomeText{
    color:coral;
}

#container{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
}

#container > div{
    width: 25rem;
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #3eb489 !important;
}

.bg-yellow,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #7EBC01 !important;
}

.bg-green,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #05696B !important;
}

  .bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
      color: #fff !important;
  }
  .small-box {
      border-radius: 12px;
      position: relative;
      display: block;
      margin-bottom: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .small-box>.inner {
      padding: 10px;
  }
  .small-box h3, .small-box p {
      z-index: 5;
  }
  .small-box h3 {
      font-size: 38px;
      font-weight: bold;
      margin: 0 0 10px 0;
      white-space: nowrap;
      padding: 0;
  }
  .small-box h3, .small-box p {
      z-index: 5;
  }
  .small-box > p {
      font-size: 15px;
  }

  .small-box p {
      margin: 0 0 10px;
  }
  .small-box .icon {
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear;
      position: absolute;
      top: -10px;
      right: 10px;
      z-index: 0;
      font-size: 90px;
      color: rgba(0,0,0,0.15);
  }
  .icon > .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 60px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .small-box > .small-box-footer {
    border-radius: 0px 0px 12px 12px;
      position: relative;
      text-align: center;
      padding: 3px 0;
      color: #fff;
      color: rgba(255,255,255,0.8);
      display: block;
      z-index: 10;
      background: rgba(0,0,0,0.1);
      text-decoration: none;
  }
  a {
      color: #3c8dbc;
  }
  a {
      color: #337ab7;
      text-decoration: none;
  }
  a {
      background-color: transparent;
  }
  
  @media (max-width: 1280px) {
    #container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
  }

  @media (max-width: 480px){
    #container > div{
      width: 20rem;
  }
  }

#signOut {
  text-align: center;
  margin: auto;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

#signOut:active,
#signOut:hover{
    outline: 0;;
}

#signOut span{
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

#signOut:hover span{
    background: none;
}


@media (min-width: 768px) {
  #signOut {
    font-size: 24px;
    min-width: 196px;
  }
}

@media screen and (max-width: 400px) {
  .form {
    padding: 20px 10px;
  }
}
