@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.logoSection {
    height: 130px !important;
  }
  
  @media screen and (max-width: 1280px) {
    .logoSection {
      height: 130px !important;
    }
  
    .nav-links {
      width: 100% !important;
      z-index: 999;
    }
  }
  
  @media screen and (max-width: 480px) {
    .logoSection {
      height: 80px !important;
    }
  
    .nav-links {
      width: 100% !important;
    }
  }

#selectMode{
    font-family: 'Poppins';
    text-align: center;
    margin-top: 10px;
}

#container {
    font-family: "Poppins";
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  }
  
  #container > div {
    width: calc(25rem - 20px); /* Adjusted for spacing */
    margin: 10px;
    margin-bottom: 36px;
  }
  
  .inner {
    cursor: pointer;
  }
  
  .bg-aqua,
  .callout.callout-info,
  .alert-info,
  .label-info,
  .modal-info .modal-body {
    background-color: #3eb489 !important;
  }
  
  .bg-yellow,
  .callout.callout-info,
  .alert-info,
  .label-info,
  .modal-info .modal-body {
    background-color: #7EBC01 !important;
  }
  
  .bg-green,
  .callout.callout-info,
  .alert-info,
  .label-info,
  .modal-info .modal-body {
    background-color: #05696B !important;
  }
  
  .bg-red,
  .bg-yellow,
  .bg-aqua,
  .bg-blue,
  .bg-light-blue,
  .bg-green,
  .bg-navy,
  .bg-teal,
  .bg-olive,
  .bg-lime,
  .bg-orange,
  .bg-fuchsia,
  .bg-purple,
  .bg-maroon,
  .bg-black,
  .bg-red-active,
  .bg-yellow-active,
  .bg-aqua-active,
  .bg-blue-active,
  .bg-light-blue-active,
  .bg-green-active,
  .bg-navy-active,
  .bg-teal-active,
  .bg-olive-active,
  .bg-lime-active,
  .bg-orange-active,
  .bg-fuchsia-active,
  .bg-purple-active,
  .bg-maroon-active,
  .bg-black-active,
  .callout.callout-danger,
  .callout.callout-warning,
  .callout.callout-info,
  .callout.callout-success,
  .alert-success,
  .alert-danger,
  .alert-error,
  .alert-warning,
  .alert-info,
  .label-danger,
  .label-info,
  .label-warning,
  .label-primary,
  .label-success,
  .modal-primary .modal-body,
  .modal-primary .modal-header,
  .modal-primary .modal-footer,
  .modal-warning .modal-body,
  .modal-warning .modal-header,
  .modal-warning .modal-footer,
  .modal-info .modal-body,
  .modal-info .modal-header,
  .modal-info .modal-footer,
  .modal-success .modal-body,
  .modal-success .modal-header,
  .modal-success .modal-footer,
  .modal-danger .modal-body,
  .modal-danger .modal-header,
  .modal-danger .modal-footer {
    color: #fff !important;
  }
  
  .small-box {
    border-radius: 12px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .small-box > .inner {
    padding: 10px;
  }
  
  .small-box h3,
  .small-box p {
    z-index: 5;
  }
  
  .small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
  }
  
  .small-box p {
    font-size: 15px;
  }
  
  .small-box p {
    margin: 0 0 10px;
  }
  
  .small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -30px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
  }
  
  .icon > .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 60px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .small-box > .small-box-footer {
    border-radius: 0px 0px 12px 12px;
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  a {
    color: #3c8dbc;
    text-decoration: none;
    background-color: transparent;
  }