*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 0px 50px;
    height:50px;
    width:100%;
   
}

.logo{
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    padding:10px 20px;
    height:100%;
    display:flex;
    align-items:center;
    transition:0.3 ease;
}

.navbar-menu{
   display:flex;
   list-style:none;
   justify-content: center;
   align-items: center;
}

.accountSection > li > a > i{
    margin-left: 0.5rem;
}

.navbar-menu li{
    height:45px;
}
.navbar-menu li a{
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    padding:10px 20px;
    height:100%;
    display:flex;
    align-items:center;
    transition:0.3 ease;
}
.navbar-menu li a:hover{
background-color: #c9494c;
}
    
}
.btn{
    color:aqua;
    float:right;
    width:0.7px;
    height: 0px;
    display:flex;
  margin-bottom: 40px;
   display: flex;
   
}
.navbar-search{
    float:left;
    color:white;
    font-size:5px;
    transition: 0.4s;
    width:90px;
}

searchbox{
    width:70px;
    border-radius:30px;
    display:flex;
    justify-content: space-between;
    
    
    .navbar-search{
        margin-left: 10px;
        
    }


    i{
        color:aqua;
        height:25px;
        margin-right:40px;
        
    }
    
}

.navbar-toggle{
    display:block;
    cursor:pointer;

}
@media screen  and (max-width:565px){
    .navbar{
        padding:15px 30px;

    }
    .navbar-toggle{
        display:block;
    }
    .navbar-menu{
        display:flex;
        flex-direction:column;
        position:absolute;
        top:45px;
        left:0%;
        width:-100%;
        background-color: #444;
        padding:20px 25px;
        margin-top:5px;
        transition: all 0.5s ease;

    }
   .navbar-menu.active{
    left:0;
   }
}



